@model StudentsApi.ModelsUse.LoginDoctor

@{
    Layout = null;
}

<html>

<body background="http://www.ordiges.com/wp-content/uploads/2015/03/Fotolia_65704515_M.jpg">


    <div  align="center" >

         
        <a href="@Url.Action("Edit/1", "Consultation", null)">
            <img src="https://www.imagecaredentalgroup.com/wp-content/uploads/2015/10/imagecare-icon-doctor.png" style="vertical-align:  sub; width: 100px;">
            <b>  Add details </b>  <a />
         
     

        <a href="@Url.Action("Index", "Consultation", null)">
             <img src="https://cdn1.iconfinder.com/data/icons/smallicons-misc/32/eye-256.png" style="vertical-align: sub; width: 100px;">
             <b>View</b> <a />


</div>



 


</body>
</html> 